section
    section
        h3 Linguagens no mundo da computação

        p.fragment Nós seres humanos nos comunicamos através de linguagens
        p.fragment A maioria se originam naturalmente, como o português, mas outras são artificiais
        p.fragment Entre artificiais mais famosas encontramos as usadas na programação

    section
        h3 Linguagens no mundo da computação

        div.fragment
            img(src="img/types.png" alt="JavaScript" height="320")
            p#cen Cada linguagem foi criada com um objetivo específico e tem detalhes a serem estudados

    section
        h3 Classificação das linguagens

        p.fragment Existem múltiplas classificações das linguagens computacionais
        p.fragment O grupo maior são as linguagens de programação, mas nem toda linguagem usa-se para programar
        p.fragment Vamos ver o grupos mais comuns (mas tem mais grupos, e mais linguagens em cada grupo)

    section
        h3 Tipos de linguagens: 

        div.row.fragment
            div.column
                p Vectoriais e matemáticas
                div#lef
                    ul
                        li Fortran
                        li Matlab
                        li Julia
                        li R
                        li Wolfram
            div.column
                img(src="img/R.jpg" alt="R" height="290"
                style="margin-top:30px; margin-left:50px")

        div.row.fragment
            div.column
                p Linha de comandos
                div#lef
                    ul
                        li DOS
                        li Bash
                        li CMD / PowerShell
            div.column
                img(src="img/cmd.png" alt="Cmd" height="190"
                style="margin-top:30px; margin-left:65px")

    section
        h3 Tipos de linguagens: 

        div.row.fragment
            div.column
                p Propósito geral: Compiladas
                div#lef
                    ul
                        li C/C++/C#
                        li Basic
                        li Cobol
                        li Fortran
                        li Pascal
                        li Python
                        li Java

            div.column
                img(src="img/cpp.png" alt="Cpp" height="250"
                style="margin-top:120px; margin-left:20px")
                                     
    section
        h3 Tipos de linguagens: 

        div.row.fragment
            div.column
                p Propósito geral: Interpretadas
                div#lef
                    ul
                        li Python
                        li JavaScript
                        li PHP
            div.column
                img(src="img/js_e.png" alt="js" height="250"
                style="margin-top:20px; margin-left:20px")
                                    
        div.row.fragment
            div.column
                p De marcas
                div#lef
                    ul
                        li XML
                        li HTML
                        li LaTex
            div.column
                img(src="img/xml.png" alt="xml" height="250"
                style="margin-top:20px; margin-left:20px")
                        
    section
        h3 Tipos de linguagens: 

        div.row.fragment
            div.column
                p Orientados à manipulação de dados
                div#lef
                    ul
                        li SQL
            div.column
                img(src="img/SQL.png" alt="SQL" height="250"
                style="margin-top:20px; margin-left:20px")

        div.row.fragment
            div.column
                p De estilos
                div#lef
                    ul
                        li CSS
            div.column
                img(src="img/css-ex.png" alt="css-ex" height="250"
                style="margin-top:20px; margin-left:20px")

